* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto';
  background: rgb(231, 228, 228);
}

.container {
  width: 375px;
  background-color: #fff;
}

header img {
  width: 18%;
  height: 18%;
}

header p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 3%;
}

.summit {
  font-size: 16px;
  font-weight: 600;
}

header i {
  width: 25px;
  height: 25px;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 2%;
}
